// _ 언더스코어가 파일 명에 붙어야 함.
// 이 경우에는 scss를 css로 변환하지 않는다.
// 즉, scss에서 필요한 것들만 존재한다고 보면 됨. (only for scss)

// Variables

// 변수를 선언하고 할당하는 법은 아래와 같다.
// 예를 들어 백그라운드 컬러를 변수에 넣어두고 싶은 경우,
// $표시를 하고나서, 변수명을 적고, 할당하고 싶은 값 (value)를 적어주면 된다.
$bg: #e7473c;
$title: 32px;

$paddingLeft: 65px;
